@import '~/../src/styles/partials/_variables.scss';

.wrapper {
    @extend .about;
    text-align: center;

    canvas {
        cursor: pointer;
    }
}

.change {
    @extend .button;
    background-color: $blue_light;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: $border_radius;
}
