@import '~/../src/styles/partials/_variables.scss';

.marginBottom {
    margin-bottom: 0.5rem;
}

.link {
    &:link,
    &:hover,
    &:visited,
    &:active {
        text-decoration: underline;
        color: white;
    }

    &:hover {
        font-weight: bold;
    }
}

.list {
    display: inline;
    padding-left: 0.5rem;

    li {
        display: inline-block;
        margin-right: 0.5rem;
    }
}
