@import '~/../src/styles/partials/_variables.scss';

.wrapper {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    user-select: none;
    width: 100%;

    td, th {
    padding: 0.25rem;
    text-align: center;
    vertical-align: middle;
    }

    img {
        min-width: 45px;
        width: 75px;
    }
}

.thead {
    tr {
        background-color: rgba($background_light, 0.5);
        border-bottom: 1px solid white;
    }
}

.tbody {
    font-size: 0.9rem;

    tr:nth-child(even) {
        background-color: rgba($background_light, 0.5);
    }
}

.sort {
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}
