@import '~/../src/styles/partials/_variables.scss';

.flexWrapper {
    @extend .section;
    display: flex;
}

.showcase {
    @extend .flexWrapper;
    align-items: center;
    background-color: $blue_light;
}

.forms {
    @extend .section;
    text-align: center;
    background-color: $blue;
}

.info {
    @extend .flexWrapper;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    background-color: $blue;
}

.flavorText {
    margin: 0 2rem;
    font-style: italic;
    position: relative;

    &::after {
        content: 'Pokedex';
        display: block;
        position: absolute;
        right: 20%;
        font-size: 0.75rem;
    }
}

.dataSection {
    width: 50%;
    align-self: stretch;
    flex-grow: 1;
    min-width: 16rem;

    &:nth-of-type(1) {
        margin-bottom: 2rem;
    }

    h5 {
        text-align: center;
    }
}

