.Home__pokemon___20HN8v {
  width: 50%; }
.Loader__loader___ZSeS0D {
  display: block;
  margin: 0.5rem auto; }
.Table__table___1C3dyz {
  border-collapse: collapse; }
  .Table__table___1C3dyz td, .Table__table___1C3dyz th {
    padding: 0 0.25rem 0 0.25rem;
    text-align: center;
    vertical-align: middle; }
  .Table__table___1C3dyz img {
    min-width: 45px;
    width: 75px; }

.Table__thead___1woKhw tr {
  background-color: rgba(80, 89, 123, 0.5);
  border-bottom: 1px solid white; }

.Table__tbody___zZgk3M tr:nth-child(even) {
  background-color: rgba(80, 89, 123, 0.5); }
.PokeType__typeBox___19j4cb, .PokeType__normal___2FCHGn, .PokeType__fighting___1hJbDE, .PokeType__flying___3EuwJs, .PokeType__poison___2EVDQv, .PokeType__ground___3kWnUF, .PokeType__rock___2YAA0z, .PokeType__bug___3QR_TZ, .PokeType__ghost___18kPWy, .PokeType__steel___A0NczZ, .PokeType__fire___14Os-2, .PokeType__water___uleSaX, .PokeType__grass___Zbof95, .PokeType__electric___1th6WK, .PokeType__psychic___z4zdvR, .PokeType__ice___2Jm7Xc, .PokeType__dragon___1chGg1, .PokeType__dark___1LW6FK, .PokeType__fairy___1KSOob {
  display: block;
  font-size: 0.75rem;
  width: 4.5rem;
  padding: 0 0.5rem;
  text-align: center;
  cursor: pointer; }

.PokeType__normal___2FCHGn {
  background-color: #8a8a59;
  border: 1px solid #a4a472; }
  .PokeType__normal___2FCHGn:hover {
    background-color: #6b6b45; }

.PokeType__fighting___1hJbDE {
  background-color: #c03028;
  border: 1px solid #d84b43; }
  .PokeType__fighting___1hJbDE:hover {
    background-color: #96251f; }

.PokeType__flying___3EuwJs {
  background-color: #a890f0;
  border: 1px solid #cbbdf6; }
  .PokeType__flying___3EuwJs:hover {
    background-color: #8563ea; }

.PokeType__poison___2EVDQv {
  background-color: #a040a0;
  border: 1px solid #bc57bc; }
  .PokeType__poison___2EVDQv:hover {
    background-color: #7c317c; }

.PokeType__ground___3kWnUF {
  background-color: #e0c068;
  border: 1px solid #e9d292; }
  .PokeType__ground___3kWnUF:hover {
    background-color: #d7ae3e; }

.PokeType__rock___2YAA0z {
  background-color: #b8a038;
  border: 1px solid #ccb657; }
  .PokeType__rock___2YAA0z:hover {
    background-color: #917e2c; }

.PokeType__bug___3QR_TZ {
  background-color: #a8b820;
  border: 1px solid #c9db30; }
  .PokeType__bug___3QR_TZ:hover {
    background-color: #808d18; }

.PokeType__ghost___18kPWy {
  background-color: #705898;
  border: 1px solid #8a74af; }
  .PokeType__ghost___18kPWy:hover {
    background-color: #584578; }

.PokeType__steel___A0NczZ {
  background-color: #b8b8d0;
  border: 1px solid #d7d7e4; }
  .PokeType__steel___A0NczZ:hover {
    background-color: #9999bc; }

.PokeType__fire___14Os-2 {
  background-color: #f08030;
  border: 1px solid #f39d60; }
  .PokeType__fire___14Os-2:hover {
    background-color: #dd6510; }

.PokeType__water___uleSaX {
  background-color: #6890f0;
  border: 1px solid #96b2f5; }
  .PokeType__water___uleSaX:hover {
    background-color: #3a6eeb; }

.PokeType__grass___Zbof95 {
  background-color: #78c850;
  border: 1px solid #96d477; }
  .PokeType__grass___Zbof95:hover {
    background-color: #5fae37; }

.PokeType__electric___1th6WK {
  background-color: #f8d030;
  border: 1px solid #fadb61; }
  .PokeType__electric___1th6WK:hover {
    background-color: #edbf08; }

.PokeType__psychic___z4zdvR {
  background-color: #f85888;
  border: 1px solid #fa89ab; }
  .PokeType__psychic___z4zdvR:hover {
    background-color: #f62765; }

.PokeType__ice___2Jm7Xc {
  background-color: #98d8d8;
  border: 1px solid #bde6e6; }
  .PokeType__ice___2Jm7Xc:hover {
    background-color: #73caca; }

.PokeType__dragon___1chGg1 {
  background-color: #7038f8;
  border: 1px solid #9369fa; }
  .PokeType__dragon___1chGg1:hover {
    background-color: #4d09f4; }

.PokeType__dark___1LW6FK {
  background-color: #705848;
  border: 1px solid #8f705c; }
  .PokeType__dark___1LW6FK:hover {
    background-color: #514034; }

.PokeType__fairy___1KSOob {
  background-color: #e898e8;
  border: 1px solid #f1c2f1; }
  .PokeType__fairy___1KSOob:hover {
    background-color: #df6edf; }
.PokeName__redirect___9QP0VN {
  cursor: pointer; }
  .PokeName__redirect___9QP0VN:hover {
    font-weight: bold; }
.PokeImg__img___20Eyil {
  width: 75px;
  min-width: 45px; }
.DamageRelations__dmgRel___2snAJS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.DamageRelations__dmgRelItem___3CzBmM {
  padding: 0.2rem; }

.DamageRelations__dmg___1lH4-1, .DamageRelations__x0___m7eaLF,
.DamageRelations__x025___Dpit3H,
.DamageRelations__x05___1_3DYx,
.DamageRelations__x1___2NenhT,
.DamageRelations__x2___1qBNpu,
.DamageRelations__x4___2g2bUL {
  text-align: center;
  display: block;
  padding: 0.5rem 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.DamageRelations__x0___m7eaLF {
  background-color: #2e3436; }

.DamageRelations__x025___Dpit3H {
  background-color: #cc324b; }

.DamageRelations__x05___1_3DYx {
  background-color: #cc324b;
  border: 1px solid #d75a6f; }

.DamageRelations__x1___2NenhT {
  background-color: #1a4e95; }

.DamageRelations__x2___1qBNpu {
  background-color: #06692C; }

.DamageRelations__x4___2g2bUL {
  background-color: #12EE49; }
.Pokelist__wrapper___UHi_9E {
  overflow-x: auto; }
.PokelistTable__sort___3q9zBZ {
  cursor: pointer; }
  .PokelistTable__sort___3q9zBZ:hover {
    font-weight: bold; }
.Layout__scene___1FfVyk {
  background-color: #1f253d;
  padding: 1rem 0 1rem 0; }

.Layout__block___1vb1pC {
  background-color: #394264;
  margin: 0 auto 1rem auto; }
  .Layout__block___1vb1pC:not(:first-of-type) {
    margin: 0 auto 0 auto;
    min-height: calc(100vh - 7rem); }

.Layout__title___2PLGUN {
  background-color: #50597b;
  background: repeating-linear-gradient(45deg, #50597b, #50597b 85%, #4e7f9e 85%, #4e7f9e);
  user-select: none; }

.Layout__wrapper___3DRGTr {
  padding: 1rem; }

@media screen and (min-width: 728px) {
  .Layout__block___1vb1pC {
    width: 728px;
    border-radius: 0.25rem; }
    .Layout__block___1vb1pC::first-of-type {
      margin: 0 auto 1rem auto; }
  .Layout__title___2PLGUN {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; } }
.Menu__wrapper___3IaaXV {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: inherit;
  background-color: inherit;
  user-select: none; }
.MenuItem__item___2ONC_f {
  width: 25%;
  height: 4rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none; }
  .MenuItem__item___2ONC_f[disabled] {
    color: #c8c8c8;
    cursor: default; }
  .MenuItem__item___2ONC_f::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #11a8ab;
    height: 5px;
    bottom: 0;
    left: 50%;
    right: 50%;
    transition: left 0.3s ease-in, right 0.3s ease-in; }
  .MenuItem__item___2ONC_f:not([disabled]):hover, .MenuItem__item___2ONC_f:not([disabled]):focus {
    background-color: #50597b; }
  .MenuItem__item___2ONC_f:not([disabled]):hover::after, .MenuItem__item___2ONC_f:not([disabled]):focus::after {
    left: 0;
    right: 0; }
  @media screen and (min-width: 728px) {
    .MenuItem__item___2ONC_f:first-of-type {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem; }
      .MenuItem__item___2ONC_f:first-of-type::after {
        border-bottom-left-radius: 0.25rem; }
    .MenuItem__item___2ONC_f:last-of-type {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem; }
      .MenuItem__item___2ONC_f:last-of-type::after {
        border-bottom-right-radius: 0.25rem; } }
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: normal;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.main__ie7___XX95XI input[type="checkbox"] {
  vertical-align: baseline; }

.main__ie6___2E9Psy input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.main__clickable___1c2b4a,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.main__ie7___XX95XI img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.main__clearfix___3F0pTI:after {
  content: " ";
  display: block;
  clear: both; }

:root {
  font-size: 16px;
  color: white;
  font-family: 'ubunturegular', sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

#app {
  width: 100%;
  height: 100%;
  cursor: default; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  display: block; }

h1,
h2,
h3 {
  text-align: center; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

p {
  margin: 0.25rem 0 0.25rem 0; }

ul {
  list-style: disc;
  padding-left: 1.5rem; }
