@import '~/../src/styles/partials/_variables.scss';

.wrapper {
    @extend .about;
    text-align: center;
}

.dmgRel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:first-of-type {
        margin-bottom: 1rem;
    }
}

.dmgRelItem {
    padding: 0.2rem;
}

.dmg {
    text-align: center;
    display: block;
    padding: 0.25rem 0;
    border-bottom-left-radius: $border_radius;
    border-bottom-right-radius: $border_radius;
}

.x0,
.x025,
.x05,
.x1,
.x2,
.x4 {
    @extend .dmg;
}

.x0 {
    background-color: #2e3436;
}

.x025 {
    background-color: rgb(155, 45, 60);
}

.x05 {
    background-color: rgb(225, 40, 85);
}

.x1 {
    background-color: rgb(130, 130, 190);
}

.x2 {
    background-color: rgb(70, 210, 70);
}

.x4 {
    background-color: rgb(60, 180, 60);
}
