@import '~/../src/styles/partials/_variables.scss';

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: $border_radius;
    transition: top 0.3s ease-in;
}

.add,
.remove {
    @extend .popup;
}

.add {
    background-color: $blue_light;
}

.remove {
    background-color: $red_light;
}
