// COLORS
$scene_background: rgb(25, 25, 45);
$background: rgb(35, 40, 65);
$background_light: rgb(45, 50, 85);
$red: rgb(204, 50, 75);
$red_light: rgb(230, 76, 101);
$blue: rgb(50, 50, 120);
$blue_light: rgb(45, 155, 155);
$highlight_green: rgb(17, 168, 171);
$highlight_blue: rgb(79, 196, 245);
$green: rgb(45, 155, 125);
$wedgewood: rgb(78, 127, 158);
$grey: rgb(100, 100, 150);


// Layout
$border_radius: 0.25rem;

// Pokemon Types
// $typeColors =
$types: (
    normal,
    fighting,
    flying,
    poison,
    ground,
    rock,
    bug,
    ghost,
    steel,
    fire,
    water,
    grass,
    electric,
    psychic,
    ice,
    dragon,
    dark,
    fairy,
);

$typeColors: (
  normal: rgb(138, 138, 89),
  fighting: rgb(192, 48, 40),
  flying: rgb(168, 144, 240),
  poison: rgb(160, 64, 160),
  ground: rgb(224, 192, 104),
  rock: rgb(184, 160, 56),
  bug: rgb(168, 184, 32),
  ghost: rgb(112, 88, 152),
  steel: rgb(184, 184, 208),
  fire: rgb(240, 128, 48),
  water: rgb(104, 144, 240),
  grass: rgb(120, 200, 80),
  electric: rgb(248, 208, 48),
  psychic: rgb(248, 88, 136),
  ice: rgb(70, 196, 196),
  dragon: rgb(112, 56, 248),
  dark: rgb(112, 88, 72),
  fairy: rgb(232, 152, 232),
);

// Base page content wrapper
.section {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: $border_radius;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.about {
    @extend .section;
    background-color: $background_light;
}


// Explanation keyword
.keyword {
    color: rgb(105, 220, 215);
}

// Text-Button
.button {
    border: none;
    background: none;
    padding: 0;
    color: white;
    user-select: none;
}
