@import '~/../src/styles/partials/_variables.scss';

.wrapper {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: inherit;
    background-color: inherit;
    user-select: none;
}
