@import '~/../src/styles/partials/_variables.scss';

.list {
    border-collapse: collapse;

    th, td {
        padding: 0 0.25rem 0 0.25rem;
        vertical-align: middle;
        text-align: center;
    }

    th {
        user-select: none;
    }

    thead tr {
        background-color: rgba($background_light, 0.5);
        border-bottom: 1px solid white;
    }

    tr:nth-child(even) {
        background-color: rgba($background_light, 0.5);
    }
}

.sort {
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}
