@import '~/../src/styles/partials/_variables.scss';

.typeBox {
    display: block;
    font-size: 0.75rem;
    width: 4.5rem;
    padding: 0 0.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@each $type in $types {
    .#{$type} {
        @extend .typeBox;
        background-color: map-get($typeColors, $type);
        border: 1px solid lighten(map-get($typeColors, $type), 10%);
        &:hover {
            background-color: darken(map-get($typeColors, $type), 10%);
        }
    }
}
