@import '~/../src/styles/partials/_variables.scss';

.wrapper {
    position: relative;
}


.redirect {
    @extend .button;

    &:hover,
    &:focus {
        .name {
            font-weight: bold;
        }

        &+ .tooltip {
            visibility: visible;
            opacity: 1;
        }
    }
}

.search {
    width: 100%;

    .redirect {
        width: 100%;
        text-align: left;
        padding: 0.25rem;

        &:hover {
            box-shadow: 0 0 1px $grey;
        }

        img {
            vertical-align: text-bottom;
        }
    }
}

.infoText {
    font-size: 0.75rem;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: $blue;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.3s;
    pointer-events: none;
}
