.image {
    display: block;
}

.icon {
    @extend .image;
    max-width: 100%;
    width: 3rem;
    min-width: 1rem;
}

.sm {
    @extend .image;
    width: 75px;
    height: 75px;
    min-width: 45px;
    min-height: 45px;
    margin: 0 auto;
}
.md {
    @extend .image;
    width: 40%;
    margin: 0 auto;
    min-width: 200px;
    min-height: 200px;
    background: radial-gradient(closest-side at 50% 90%, rgb(35, 50, 75) 15%, transparent);
}

.fill {
    @extend .image;
    width: 100%;
}
