@import '~/../src/styles/partials/_variables.scss';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 224px) {
        justify-content: center;
    }
}

.item {
    @extend .button;

    width: 19%;
    min-width: 6rem;
    max-width: 25%;
    padding: 0.5rem;
    background-color: $blue;
    border-radius: $border_radius;
    margin: 0.5rem 0;
    border: 3px solid transparent;
    transition: all 0.2s;

    &:hover,
    &:focus {
        border: 0 solid transparent;
    }

    &:focus {
        z-index: 10;
        outline: none;
        box-shadow: 0 0 0 2px $highlight_blue;
    }

    &:last-of-type {
        margin-right: auto;
    }
}

.selected {
    @extend .item;
    border: 0 solid transparent;

    background-color: $blue_light;
}

.info {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;

    @media screen and (max-width: 520px) {
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 1.5rem;
    }
}

.data {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.pokemon {
    background-image: url('./resources/icons/pokedex.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
