@import '~/../src/styles/partials/_variables.scss';

.statTable {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;

    td {
        vertical-align: middle;
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid rgb(100, 100, 150);

        &:nth-child(even) {
            text-align: left;
        }

        &:nth-child(odd) {
            text-align: right;
        }
    }
}
