@import '~/../src/styles/partials/_variables.scss';

.row {
    width: 100%;
    padding: 0.5rem;

    &:nth-last-of-type() {
        margin-bottom: 0;
    }
}

.bar {
    text-align: right;
    border-radius: 0.125rem $border_radius $border_radius 0.125rem;
    border: thin solid $grey;
    background-color: rgba($grey, 0.25);
}

.stat {
    text-align: center;
    border-radius: 0.125rem $border_radius $border_radius 0.125rem;
    min-width: 1rem;
}
