@import '~/../src/styles/partials/_variables.scss';

.row {
    border-bottom: 1px solid rgb(100, 100, 150);
}

.item {
    display: inline-block;
    width: 5rem;
    font-size: 0.9rem;
}

.arrow {
    display: inline-block;
    height: 5rem;
    width: 4rem;
    background-image: url('./resources/icons/arrow.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.evolution {
    @extend .about;
    text-align: center;
}
