@import '~/../src/styles/partials/_variables.scss';

.main {
    border-collapse: collapse;
    margin: 0 auto;

    td,
    th {
        vertical-align: middle;
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid $grey;
        text-align: left;
    }
}

.default {
    @extend .main;
    width: 90%;
    max-width: 25rem;

    td {
        &:nth-child(even) {
            text-align: left;
        }

        &:nth-child(odd) {
            text-align: right;
        }
    }
}

.compare {
    @extend .main;
}
