@import '~/../src/styles/partials/_variables.scss';

.default {
    border-collapse: collapse;
    margin: 0 auto;

    td,
    th {
        vertical-align: middle;
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid $grey;
        text-align: left;
    }
    tr:last-of-type td {
        border-bottom: none;
    }
}

.wrapper {
    @extend .default;
    width: 90%;
    max-width: 25rem;

    td {
        &:nth-child(even) {
            text-align: left;
        }

        &:nth-child(odd) {
            text-align: right;
        }
    }
}

.compare {
    @extend .default;
    width: 100%;

    th {
        &:first-of-type {
            border-top-left-radius: $border_radius;
        }

        &:last-of-type {
            border-top-right-radius: $border_radius;
        }
    }

    tbody tr:nth-of-type(odd) {
        background-color: rgba($background, 0.5);
    }

    tr:last-of-type {
        td:first-of-type {
            border-bottom-left-radius: $border_radius;
        }

        td:last-of-type {
            border-bottom-right-radius: $border_radius;
        }
    }
}
